.vscode/tasks.json
.vscode/settings.json
.cph/.A_Food_for_Animals.cpp_5274a2f10397681ab294181d3a5a7382.prob
.cph/.B_2_Tokitsukaze_and_Good_01_-String_hard_version.cpp_22a17bd2300d4118b44e637ccaf4de4a.prob
